.CalculatorBody {
  max-width: 98%;
  margin: auto 1%;
  border: 2px solid plum;
  border-radius: 4px;
  box-shadow: 0 3px 0px rgb(244, 203, 203),
              0 6px 2px rgb(188, 180, 180);
}

.Keypad {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  background-color: #ffc535;
  border-top: 6px solid #ff299c;
}

.KeypadRow {
  display: inherit;
  flex-flow: row nowrap;
}

@media (min-width: 500px) {
  .CalculatorBody {
    max-width: 80%;
    margin: auto 10%;
  }
  .Keypad {
    padding: 0.8rem;
  }
}